html, body {
    height: 300vh;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    /* background: url('https://images.unsplash.com/photo-1505233276084-d944dbc8f17d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=618086894afe9854ca3310f7f16e3e6e&auto=format&fit=crop&w=2700&q=80') no-repeat; */
    background: url('../img/chili-con-carne.png') no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    position: absolute;
    width: 80vw;
    top: 5vh;
    left: 10vw;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

button {
    font-size: 30px;
    right: 20vw;
    bottom: 0;
}